/* write your override styles here */
#wall .tag-1 {
    display: none;
}

div#wall #tag-2{
    display: none;
}

div#wall #tag-3{
    display: none;
}

div#wall #tag-4{
    display:none;
}

div#wall #tag-5{
    display:none;
}

div#wall #tag-6{
    display:none;
}

div#wall #tag-7{
    display:none;
}